body {
    font-family: "Comic Sans MS";
    margin-left: 40px;
}

.flex-container {
    display: flex;
}

.flex-container > .header {
    margin: auto;
}

.flex-container > .header > h1 {
    font-size: 5rem;
}
